body,p,h1,h2,h3,ul,blockquote{margin:0;}
ul{padding:0;list-style:none;}
.clear-float{overflow:hidden;}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.button{display:inline-block;width:113px;height:42px;background-image:url(/media/images/chrome/buttons.png);font-family:Arial;font-size:16px;line-height:42px;text-align:center;text-shadow:1px 1px 0 #1d1715;color:#eee;}.button:hover{background-position:0 -42px;text-decoration:none;}
.bullet-list{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.bullet-list li{margin-bottom:10px;}.bullet-list li:last-child{margin-bottom:0;}
.text-format{line-height:24px;text-align:justify;}.text-format h1,.text-format h2,.text-format h3,.text-format h4,.text-format h5,.text-format h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.text-format p{margin:20px 0;}.text-format p:first-child{margin-top:0;}
.text-format ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.text-format ul li{margin-bottom:10px;}.text-format ul li:last-child{margin-bottom:0;}
.text-format blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.text-format .before{float:left;margin-right:20px;}
.text-format .after{float:right;margin-left:20px;}
.text-format .full-frame{text-align:center;}
@font-face{font-family:'Prociono';font-style:normal;font-weight:400;src:local('Prociono'),local('Prociono-Regular'),url(/media/fonts/prociono.woff) format('woff');}html,body{background:#000;color:#f1f1f2;font-family:Arial, sans;font-size:16px;}
.standard-page{width:800px;margin:0 auto;}.standard-page>.body{overflow:hidden;margin-bottom:20px;}.standard-page>.body>.main{float:left;width:580px;color:#1d1715;}.standard-page>.body>.main a{color:#0b521f;text-decoration:underline;}.standard-page>.body>.main a:hover{color:#117f30;text-decoration:underline;}
.standard-page>.body>.main>.hd,.standard-page>.body>.main>.ft{height:70px;background-image:url(/media/images/chrome/scroll.png);}
.standard-page>.body>.main>.ft{background-position:0 -70px;}
.standard-page>.body>.main>.bd{padding:0 40px 1px;background:url(/media/images/chrome/scroll_repeat.png);}
.standard-page>.body>.aux{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:220px;padding:20px;}
.standard-page>.foot{margin-bottom:20px;height:42px;line-height:42px;text-align:center;text-shadow:1px 1px 0 #1d1715;background:url(/media/images/chrome/footer.png);}
.highlight{margin:1em 0;border:solid 1px #000;background:rgba(250, 250, 250, 0.5);}.highlight pre{margin:0;display:block;overflow:auto;padding:10px;-webkit-tab-size:4;-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.highlight .c{color:#999988;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#999988;font-style:italic;}
.highlight .cp{color:#999999;font-weight:bold;}
.highlight .c1{color:#999988;font-style:italic;}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000000;background-color:#ffdddd;}
.highlight .gd .x{color:#000000;background-color:#ffaaaa;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#aa0000;}
.highlight .gh{color:#999999;}
.highlight .gi{color:#000000;background-color:#ddffdd;}
.highlight .gi .x{color:#000000;background-color:#aaffaa;}
.highlight .go{color:#888888;}
.highlight .gp{color:#555555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaaaaa;}
.highlight .gt{color:#aa0000;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#445588;font-weight:bold;}
.highlight .m{color:#009999;}
.highlight .s{color:#dd1144;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#445588;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#990000;font-weight:bold;}
.highlight .nf{color:#990000;font-weight:bold;}
.highlight .nn{color:#555555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#009999;}
.highlight .mh{color:#009999;}
.highlight .mi{color:#009999;}
.highlight .mo{color:#009999;}
.highlight .sb{color:#dd1144;}
.highlight .sc{color:#dd1144;}
.highlight .sd{color:#dd1144;}
.highlight .s2{color:#dd1144;}
.highlight .se{color:#dd1144;}
.highlight .sh{color:#dd1144;}
.highlight .si{color:#dd1144;}
.highlight .sx{color:#dd1144;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#dd1144;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#009999;}
.page h1.title{display:inline-block;margin:10px 0 20px;font-family:Prociono;font-size:32px;font-weight:normal;}
.page .content{line-height:24px;text-align:justify;}.page .content h1,.page .content h2,.page .content h3,.page .content h4,.page .content h5,.page .content h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.page .content p{margin:20px 0;}.page .content p:first-child{margin-top:0;}
.page .content ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.page .content ul li{margin-bottom:10px;}.page .content ul li:last-child{margin-bottom:0;}
.page .content blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.page .content .before{float:left;margin-right:20px;}
.page .content .after{float:right;margin-left:20px;}
.page .content .full-frame{text-align:center;}
.page-head{position:relative;}.page-head a{text-decoration:none;}
.page-head h1{font:48px Prociono;position:absolute;left:300px;top:70px;display:inline;width:492px;height:59px;}
.page-head .title{color:#fff;text-shadow:2px 2px 2px #666;}
.page-head em{color:#939598;position:absolute;left:330px;top:130px;}
.page-head nav{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:64px;margin-bottom:20px;padding:12px;background-image:url(/media/images/chrome/navigation_bar.png);}.page-head nav a{display:inline-block;width:113px;height:42px;background-image:url(/media/images/chrome/buttons.png);font-family:Arial;font-size:16px;line-height:42px;text-align:center;text-shadow:1px 1px 0 #1d1715;color:#eee;margin-right:10px;}.page-head nav a:hover{background-position:0 -42px;text-decoration:none;}
.page-head nav .site{float:left;}
.page-head nav .social{float:right;}.page-head nav .social a{width:42px;height:42px;text-indent:-999em;}.page-head nav .social a.twitter{background-position:-155px 0;}.page-head nav .social a.twitter:hover{background-position:-155px -42px;}
.page-head nav .social a.rss{background-position:-113px 0;}.page-head nav .social a.rss:hover{background-position:-113px -42px;}
.page-head nav .social a:last-child{margin-right:0;}
.post h1.title{display:inline-block;margin:10px 0 20px;font-family:Prociono;font-size:32px;font-weight:normal;}
.post aside{padding:10px;border:1px solid rgba(0, 0, 0, 0.5);border-radius:5px;background:rgba(0, 0, 0, 0.25);}
.post .meta{margin-bottom:20px;}.post .meta .avatar{border:solid 2px #1d1715;float:left;margin-right:10px;}
.post .meta .author{line-height:22px;display:block;}
.post .meta .date{line-height:22px;display:block;color:#4f3f38;font-size:75%;}
.post .meta a{background-image:url(/media/images/chrome/buttons.png);float:right;text-indent:-999em;display:block;margin-left:10px;width:42px;height:42px;}.post .meta a.github{background-position:-323px 0;}
.post .meta a.github:hover{background-position:-323px -42px;}
.post .meta a.twitter{background-position:-155px 0;}
.post .meta a.twitter:hover{background-position:-155px -42px;}
.post .content{line-height:24px;text-align:justify;}.post .content h1,.post .content h2,.post .content h3,.post .content h4,.post .content h5,.post .content h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.post .content p{margin:20px 0;}.post .content p:first-child{margin-top:0;}
.post .content ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.post .content ul li{margin-bottom:10px;}.post .content ul li:last-child{margin-bottom:0;}
.post .content blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.post .content .before{float:left;margin-right:20px;}
.post .content .after{float:right;margin-left:20px;}
.post .content .full-frame{text-align:center;}
.post .comments{border:dotted 2px #000;border-style:dotted none;margin-bottom:20px;padding-bottom:5px;}.post .comments h2{float:left;margin-top:5px;font-family:Prociono;}
.post .comments #dsq-content #dsq-global-toolbar{margin-top:0;}
.post-list{text-align:left;}.post-list>header>.title{display:inline-block;margin:20px 0;font-family:Prociono;font-size:32px;font-weight:normal;}
.post-list .posts{margin-bottom:20px;}.post-list .posts li{margin-bottom:20px;}.post-list .posts li:last-child{margin-bottom:0;}
.post-list .posts .title{display:inline-block;font-size:24px;}
.post-list .posts .meta{display:block;color:#4f3f38;font-size:12px;padding-top:3px;}.post-list .posts .meta .comments{display:inline-block;margin-left:5px;padding-left:7px;border-left:solid 1px #666;}
.post-list .pagination{border-top:dotted 1px #000;padding:20px 0;font-size:18px;}.post-list .pagination .prev{float:left;}
.post-list .pagination .next{float:right;}
.share .title{font-weight:bold;display:block;margin-bottom:10px;text-shadow:1px 1px 1px #ccc;}
.share ul{list-style:none;padding:0;margin:0;}.share ul li{display:inline-block;margin-right:20px;vertical-align:top;}
.share ul .facebook{margin-right:15px;}
.authors hr{border:1px solid #1d1715;margin:20px 0;}
.authors .author .avatar{border:solid 2px #000;}
.authors .author:nth-child(odd) .avatar{float:left;margin-right:20px;}
.authors .author:nth-child(even) .avatar{float:right;margin-left:20px;}
ul.bullets{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}ul.bullets li{margin-bottom:10px;}ul.bullets li:last-child{margin-bottom:0;}
#welcome{display:inline-block;text-align:justify;background:rgba(0, 0, 0, 0.1);border-radius:5px;padding:10px;margin-top:10px;}#welcome img{float:left;margin:0 10px 5px 0;}
a{color:#f68b1f;text-decoration:underline;}
a:hover{text-decoration:none;}
.onslaught{text-align:center;}.onslaught p{color:#f1f1f2;margin-bottom:1em;}.onslaught p a{background-image:url(/media/images/chrome/buttons.png);color:#eee;font:16px Prociono;text-align:center;text-decoration:none;text-shadow:1px 1px 0 #1d1715;display:inline-block;line-height:42px;width:113px;height:42px;}
.onslaught p a:hover{background-position:0 -42px;text-decoration:none;}
.onslaught ul{margin:0 0 10px 18px;height:42px;}
.onslaught ul li{display:inline;}.onslaught ul li a{background-image:url(/media/images/chrome/buttons.png);float:left;text-indent:-999em;display:block;margin-right:10px;width:42px;height:42px;}
.onslaught ul li:last-child a{margin:0;}
.onslaught .android{background-position:-197px 0;}
.onslaught .android:hover{background-position:-197px -42px;}
.onslaught .apple{background-position:-239px 0;}
.onslaught .apple:hover{background-position:-239px -42px;}
.onslaught .chrome{background-position:-281px 0;}
.onslaught .chrome:hover{background-position:-281px -42px;}
