/* Reset */
body, h1 {
	margin: 0;
}

html, body {
	background: #000;
	color: #fff;
	font-family: Arial, sans;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.page {
	width: 800px;
	margin: 0 auto;
}

#head {
	
	.title {
		display: inline-block;
		margin: 60px 0 0 -40px;
		vertical-align: top;
		font-family: Prociono, Arial, sans;
		font-size: 40px;
	}

	nav {
		margin-top: 10px;
		padding: 10px;
		background: #999;
		border-bottom: solid 4px #666;
		a {
			color: white;
			display: inline-block;
			margin-right: 30px;
		}
	}
	
}

#body {

	background: #fff;
	color: #000;
	overflow: hidden;

	.main {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 500px;
		padding: 20px;
		text-align: justify;
	}

	.aux {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 300px;
		padding: 20px;
	}

}
