/* Reset */
body, h1, h2, ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}


.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background: #000;
	color: #fff;
	font-family: Muli, Arial, sans;
	font-size: 18px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.page {
	width: 800px;
	margin: 0 auto;
}

#head {
	
	.title {
		display: inline-block;
		margin: 60px 0 0 -40px;
		vertical-align: top;
		font-family: Prociono, Arial, sans;
		font-size: 40px;
		color: #fff;
		-webkit-transition: color 350ms linear;
	}

	.title:hover {
		text-decoration: none;
		color: #808000;
		-webkit-transition: color 350ms linear;
	}

	nav {
		margin-top: 10px;
		padding: 10px 20px;
		background: #999;
		border-bottom: solid 4px #666;
		a {
			color: #eee;
			text-shadow: 1px 1px 0 #666;
			display: inline-block;
			margin-right: 30px;
		}
		a:hover {
			text-decoration: none;
		}
	}
	
}

#body {

	background: #fff;
	color: #000;
	overflow: hidden;

	a {
		color: #008000;
	}

	.main {
		.border-box;
		float: left;
		width: 500px;
		padding: 20px;
		text-align: justify;
	}

	.aux {
		.border-box;
		float: left;
		width: 300px;
		padding: 20px;
	}

}

.post {

	h1 {
		margin-bottom: 10px;
	}

	.info {

		font-size: 16px;

		.avatar {
			border: solid 2px #999;
			float: left;
			margin-right: 10px;
		}

		.author {
			line-height: 22px;
			display: block;
		}

		.date {
			line-height: 22px;
			display: block;
			color: #666;
		}

	}

}

.post-list {

	text-align: left;

	li {
		margin-top: 20px;
	}

	.title {
		display: inline-block;
	}

	.date {
		display: block;
		color: #999;
		font-size: 12px;
	}

}
