---
layout: default
title: Games
---
<div class="page-title">
	<h1>{{ page.title }}</h1>
</div>

<div class="column-2">

	<div class="main">
		<ul>
			{% for gamekey in site.games_list %}
				{% assign game = site.games[gamekey] %}
				<li class="module">
					<div class="text-format">
						<h2>{{ game.title }}</h2>
						<a href="{{ game.promo_url }}">
							<img alt="{{ game.title }}" src="/media/images/games/{{ gamekey }}/promo-560x180.png" width="560" height="180">
						</a>
						<p>{{ game.tagline }}</p>
						<p><a href="/games/{{ game.url_key }}/">More Info</a></p>
					</div>
				</li>
			{% endfor %}
		</ul>

		<div class="text-format module">
			<h2>White-label Licenses</h2>
			<p>
				We also have a portfolio of mobile-browser games that were developed specifically for HTML5 game portals. Some examples of these games include <a href="http://asylumnight.lostdecadegames.com/">Asylum Night</a> and <a href="http://turkeyhunt.lostdecadegames.com/">Turkey Hunt</a>.
				Want to know more? <a href="/contact/">Get in touch!</a>
			</p>
		</div>

	</div>

	<div class="aux">
		{% include modules/feature-articles.html %}
		{% include modules/follow-us.html %}
	</div>

</div>
