---
layout: default
title: Games
---
<div class="splash games">
	<div>
		<h2>Games</h2>
		<em>our major games</em>
	</div>
</div>

<div class="section text">
	<ul>
		{% for gamekey in site.games_list %}
			{% assign game = site.games[gamekey] %}

			{% if game.promo_url %}
				{% assign game_url = game.promo_url %}
			{% else %}
				{% assign game_url = game.play_url %}
			{% endif %}

			<li>
				<h2>{{ game.title }}</h2>
				<a href="{{ game.game_url }}">
					<img alt="{{ game.title }}" src="/media/images/games/{{ gamekey }}/promo-560x180.png" width="560" height="180">
				</a>
				<p>
					{{ game.tagline }}
					{% if game.promo_url %}
						<a href="{{ game.promo_url }}">Learn more</a>
					{% else %}
						<a href="{{ game.play_url }}">Play</a>
					{% endif %}
				</p>
				<br>
			</li>
		{% endfor %}
	</ul>
</div>
