---
layout: default
title: HTML5 Game Makers
---
<section>

	{% if paginator.page == 1 %}
	<p id="welcome">
		<img src="/media/images/dragon.png" width="64" height="64" title="Dragon boss from Onslaught!">
		Welcome to the <strong>Lost Decade Games</strong> website.
		We are an <strong>HTML5 game studio</strong> in Mountain View, CA.
		Check out our first game,
		<a href="/onslaught_arena/">Onslaught!</a>.
		For more information or to get in touch, please see our <a href="/contact/">contact</a> page.
	</p>
	{% endif %}

	{% include html/post_list.html %}

</section>

{% include html/disqus_comment_count.html %}
