// Colors /////////////////////////////////////////////////////////////////////
@page-background: #151515;
@page-text: #a8a8a8;
@page-highlight: #dc3d24;
@page-highlight-background: #222;

@article-head-background: #333;
@article-head-text: #ededed;

@article-background: #eee;
@article-text: #000;
@article-highlight: green;

@aux-text: #ccc;
@aux-highlight: @page-highlight;

// Styles /////////////////////////////////////////////////////////////////////
html, body {
	background: @page-background;
	color: @page-text;
	font-family: sans-serif;
}

.head {

	> .logo {
		text-indent: -999em;
		background: url(/media/images/logo-new.png) no-repeat top left;
	}

	> .nav a {
		color: @page-text;
		text-decoration: none;

		&:hover {
			color: @page-highlight;
			background: @page-highlight-background;
		}
	}
}

.foot {
	font-size: 12px;

	.more-info a {
		color: @page-text;
		text-decoration: none;

		&:hover {
			color: @page-highlight;
		}
	}
}

.article {
	> .title {
		background: @article-head-background;
		color: @article-head-text;
	}

	> .body {

		> .main {
			background: @article-background;
			color: @article-text;

			a {
				color: @article-highlight;
			}
		}

		> .aux {

			a {
				color: @page-highlight;
			}

		}
	}
}

.author-info {
	> .avatar {
		border: solid 1px @aux-text;
	}

	> .who {
		> em {
			font-weight: bold;
		}
	}
}
