@import "palette";
@import "utils";

html, body {
	background: @black;
	color: @white;
	font-family: sans-serif;
}

.head {

	> .logo {
		text-indent: -999em;
		background: url(/media/images/logo-new.png) no-repeat top left;
	}

	> .nav a {
		color: @white;
		text-decoration: none;

		&:hover {
			color: @red-orange;
			background: @dark-grey;
		}
	}
}

.foot {
	font-size: 12px;

	.more-info a {
		color: @white;
		text-decoration: none;

		&:hover {
			color: @red-orange;
		}
	}
}

.module {
	> h2 {
		font-weight: bold;
	}
}

.button {
	.rounded-corners(12px);
	font-weight: bold;
}

.action-accept {
	background: @light-green;
	color: @white !important;
}

.action-negate {
	background: @red-orange;
	color: @white !important;
}

// Legacy style hook for article calls to action
.download-podcast {
	.button;
	.action-accept;
}

.page-title {
	background: @light-grey;
	color: @black;
}

.column-2 {

	> .main {
		background: @white;
		color: @black;

		a {
			color: @dark-green;
		}
	}

	> .aux {
		a {
			color: @red-orange;
		}
	}
}

.author-info {
	> .avatar {
		border: solid 1px @light-grey;
	}

	> .who {
		> em {
			font-weight: bold;
		}
	}
}
