---
layout: page
title: "Lostcast: HTML5 Games Podcast"
---
<img
	alt="Lostcast logo"
	src="/media/images/lostcast/logo_500x500.jpg"
	width="500"
	height="500"
>

<p>
	<strong>Lostcast</strong> is our podcast about HTML5 games! <strong>Every other Sunday</strong>, <a href="http://www.geoffblair.com/">Geoff Blair</a> and <a href="http://www.richtaur.com/">Matt Hackett</a> talk about life as independent game developers. Topics range from technically advanced <a href="/lostcast-episode-7-html5-the-bad-parts/">engineering discussions</a> to <a href="/lostcast-episode-14-quite-an-impact/">interviews with industry pioneers</a>.
</p>
	
<img alt="Matt and Geoff: Lostcast!" src="/media/images/team_podcasting.jpg" width="500" height="290">

<h3>Episodes</h3>

<p>
	Keep up with the latest episodes via <a href="{{ site.lostcast_itunes_url }}">iTunes</a> or <a href="/lostcast.xml">RSS</a>!
</p>

<ul class="posts">
	{% for post in site.tags.lostcast %}
	<li>
		<a class="title" href="{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>

<p>
	We also have a <a href="http://amzn.com/w/TYFGK8Q3QZE8">wishlist on Amazon</a> that enables kind listeners to support us. <a href="/your-wish-for-a-wishlist-has-been-granted/">Want to know more?</a>
</p>

{% include html/share.html %}

