<div class="section">
	<ul class="feature-games">
		<li>
			<a href="/games/lunch-bug/" title="Lunch Bug">
				<img src="/media/images/games/lunch-bug/promo-320x200.png">
			</a>
			<h3>Lunch Bug</h3>
		</li>
		<li>
			<a href="/games/lava-blade/" title="Lava Blade">
				<img src="/media/images/games/lava-blade/promo-320x200.png">
			</a>
			<h3>Lava Blade</h3>
		</li>
		<li>
			<a href="/games/onslaught-arena/" title="Onslaught! Arena">
				<img src="/media/images/games/onslaught-arena/promo-320x200.png">
			</a>
			<h3>Onslaught! Arena</h3>
		</li>
	</ul>
</div>
