---
layout: default
title: "Lostcast episodes"
comments: hidden
---
<div class="splash list">
	<div>
		<h2>Lostcast</h2>
		<em>episode list</em>
	</div>
</div>

<div class="section text">
	<p class="br">
		<a href="/lostcast/">Lostcast</a> is a weekly podcast about game development.
	</p>

	<ul>
		{% for post in site.tags.lostcast %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{% if post.tags contains "interview" %}
				(interview)
			{% endif %}
		</li>
		{% endfor %}
	</ul>

	<!--
	<h2>Guests on other shows</h2>
	<ul>
		<li>Things</li>
		<li>Stuff</li>
	</ul>
	-->
</div>
