.clear-float{overflow:hidden;}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.button{display:inline-block;width:113px;height:42px;background-image:url(/media/images/chrome/buttons.png);font:16px Prociono;line-height:42px;text-align:center;text-shadow:1px 1px 0 #1d1715;color:#eee;}.button:hover{background-position:0 -42px;text-decoration:none;}
.bullet-list{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.bullet-list li{margin-bottom:10px;}.bullet-list li:last-child{margin-bottom:0;}
.text-format{line-height:24px;text-align:justify;}.text-format h1,.text-format h2,.text-format h3,.text-format h4,.text-format h5,.text-format h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.text-format p{margin:20px 0;}.text-format p:first-child{margin-top:0;}
.text-format ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.text-format ul li{margin-bottom:10px;}.text-format ul li:last-child{margin-bottom:0;}
.text-format blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.text-format .before{float:left;margin-right:20px;}
.text-format .after{float:right;margin-left:20px;}
ul.bullets{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}ul.bullets li{margin-bottom:10px;}ul.bullets li:last-child{margin-bottom:0;}
#welcome{display:inline-block;text-align:justify;background:rgba(0, 0, 0, 0.1);border-radius:5px;padding:10px;margin-top:10px;}#welcome img{float:left;margin:0 10px 5px 0;}
a{color:#f68b1f;text-decoration:underline;}
a:hover{text-decoration:none;}
.onslaught{text-align:center;}.onslaught p{color:#f1f1f2;margin-bottom:1em;}.onslaught p a{background-image:url(/media/images/chrome/buttons.png);color:#eee;font:16px Prociono;text-align:center;text-decoration:none;text-shadow:1px 1px 0 #1d1715;display:inline-block;line-height:42px;width:113px;height:42px;}
.onslaught p a:hover{background-position:0 -42px;text-decoration:none;}
.onslaught ul{margin:0 0 10px 18px;height:42px;}
.onslaught ul li{display:inline;}.onslaught ul li a{background-image:url(/media/images/chrome/buttons.png);float:left;text-indent:-999em;display:block;margin-right:10px;width:42px;height:42px;}
.onslaught ul li:last-child a{margin:0;}
.onslaught .android{background-position:-197px 0;}
.onslaught .android:hover{background-position:-197px -42px;}
.onslaught .apple{background-position:-239px 0;}
.onslaught .apple:hover{background-position:-239px -42px;}
.onslaught .chrome{background-position:-281px 0;}
.onslaught .chrome:hover{background-position:-281px -42px;}
