.clear-float{overflow:hidden;}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.button{display:inline-block;width:113px;height:42px;background-image:url(/media/images/chrome/buttons.png);font:16px Prociono;line-height:42px;text-align:center;text-shadow:1px 1px 0 #1d1715;color:#eee;}.button:hover{background-position:0 -42px;text-decoration:none;}
.bullet-list{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.bullet-list li{margin-bottom:10px;}.bullet-list li:last-child{margin-bottom:0;}
.text-format{line-height:24px;text-align:justify;}.text-format h1,.text-format h2,.text-format h3,.text-format h4,.text-format h5,.text-format h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.text-format p{margin:20px 0;}.text-format p:first-child{margin-top:0;}
.text-format ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.text-format ul li{margin-bottom:10px;}.text-format ul li:last-child{margin-bottom:0;}
.text-format blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.text-format .before{float:left;margin-right:20px;}
.text-format .after{float:right;margin-left:20px;}
.page h1.title{display:inline-block;margin:10px 0 20px;font-family:Prociono;font-size:32px;font-weight:normal;}
.page .content{line-height:24px;text-align:justify;}.page .content h1,.page .content h2,.page .content h3,.page .content h4,.page .content h5,.page .content h6{margin:20px 0;font-family:Prociono;font-size:24px;font-weight:normal;}
.page .content p{margin:20px 0;}.page .content p:first-child{margin-top:0;}
.page .content ul{list-style-image:url(/media/images/chrome/bullet_sword.png);margin:0 40px;}.page .content ul li{margin-bottom:10px;}.page .content ul li:last-child{margin-bottom:0;}
.page .content blockquote{color:#584640;border-left:10px solid rgba(0, 0, 0, 0.25);margin:0 20px 0 10px;padding-left:10px;}
.page .content .before{float:left;margin-right:20px;}
.page .content .after{float:right;margin-left:20px;}
