.share .title{font-weight:bold;display:block;margin-bottom:10px;text-shadow:1px 1px 1px #ccc;}
.share ul{list-style:none;padding:0;margin:0;}.share ul li{display:inline-block;margin-right:20px;vertical-align:top;}
.share ul .facebook{margin-right:15px;}
