---
layout: article
title: Blog
comments: hidden
---
<p>
	Here you will find our entire list of articles published over the years. Don't forget to <a href="/rss.xml">subscribe via RSS</a>!
</p>

<ul class="article-list">
	{% for post in site.posts %}
		{% assign author = site.authors[post.author] %}
		{% if post.tags contains "lostcast" %}
			<!-- Omit Lostcast post -->
		{% else %}
			<li>
				<a class="title" href="{{ post.url }}">{{ post.title }}</a>
				<div class="meta">
					{{ post.date | date_to_string }}
					by <strong>{{ author.display_name }}</strong>
					<a
						class="comments"
						href="{{ post.url }}#disqus_thread"
						data-disqus-identifier="{{ post.id }}"
					></a>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<script type="text/javascript">
// Disqus comment counts
var disqus_shortname = 'lostdecadegames';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
