---
layout: default
title: Blog
comments: hidden
---
<div class="splash blog">
	<div>
		<h2>Blog</h2>
		<em>read these words</em>
	</div>
</div>

<div class="section text">
	<ul>
		{% for post in site.posts %}
			{% assign author = site.authors[post.author] %}
			{% if post.tags contains "lostcast" %}
				<!-- Omit Lostcast post -->
			{% else %}
				<li>
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
					<div class="meta">
						{{ post.date | date_to_string }}
						by <strong>{{ author.display_name }}</strong>
						<a
							class="comments"
							href="{{ post.url }}#disqus_thread"
							data-disqus-identifier="{{ post.id }}"
						></a>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<script type="text/javascript">
// Disqus comment counts
var disqus_shortname = 'lostdecadegames';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
