<div class="page-head">
	<a href="/">
		<img src="/media/images/logo.png" width="240" height="240">
	</a>
	<h1>
		<a href="/" class="title">Lost Decade Games</a>
	</h1>
	<em>Indie game company in Silicon Valley, CA</em>
	<nav>
		<div class="site">
			<a href="/">Blog</a>
			<a href="/games/">Games</a>
			<a href="/lostcast/">Lostcast</a>
			<a href="/contact/">Contact</a>
		</div>
		<div class="social">
			<a class="twitter" href="https://twitter.com/#!/lostdecadegames">Twitter</a>
			<a class="rss" href="/rss.xml">RSS</a>
		</div>
	</nav>
</div>
