<div class="onslaught">
	<a href="/onslaught_arena/">
		<img
			alt="Onslaught!"
			src="/media/images/onslaught.png"
			width="128"
			height="128"
		>
	</a>
	<ul>
		<li>
			<a
				class="android"
				href="https://market.android.com/details?id=com.gameclosure.tealeaf"
			>Onslaught! for Android tablets</a>
		</li>
		<li>
			<a class="apple" href="http://itunes.apple.com/us/app/onslaught!/id441426241">Onslaught! for iPad</a>
		</li>
		<li>
			<a class="chrome" href="https://chrome.google.com/webstore/detail/khodnfbkbanejphecblcofbghjdgfaih">Onslaught! Arena for Chrome</a>
		</li>
	</ul>
	<p>
		<a href="http://play.lostdecadegames.com/onslaught_arena/demo">Play Now</a>
	</p>
</div>

<div class="lostcast">
	<a href="{{ site.lostcast_itunes_url }}">
		<img
			alt="Lostcast: HTML5 games podcast"
			src="/media/images/lostcast_sidebar_logo.png"
			width="180"
			height="180"
		>
	</a>
	<p>
		HTML5 games podcast!
	</p>
	<p>
		<a class="listen" href="{{ site.lostcast_itunes_url }}">Listen Now</a>
		<a class="rss" href="/lostcast.xml">Subscribe</a>
	</p>
</div>
