---
layout: default
---
<!-- Author -->
{% if page.author %}
	{% assign author = site.authors[page.author] %}
{% endif %}

<!-- Splash -->
{% if page.tags contains "lavablade" %}
	{% assign splash = "lavablade" %}
{% elsif page.tags contains "lostcast" %}
	{% assign splash = "episode" %}
{% elsif page.tags contains "onslaught" %}
	{% assign splash = "onslaught" %}
{% elsif page.tags contains "onslaughtarena" %}
	{% assign splash = "onslaught" %}
{% elsif page.tags contains "team" %}
	{% assign splash = "team" %}
{% elsif page.tags contains "immortal" %}
	{% assign splash = "immortal" %}
{% elsif page.tags contains "skyrocket" %}
	{% assign splash = "skyrocket" %}
{% elsif page.tags contains "wizardslizard" %}
	{% assign splash = "home" %}
{% else %}
	{% assign splash = "laptop" %}
{% endif %}

<div class="splash {{ splash }}">
	<div>
		<h2>{{ page.title }}</h2>
		<em>by {{ author.display_name }}, {{ page.date | date: "%-Y %b %-d" }}</em>
	</div>
</div>

<div class="section text blog">
{{ content }}

	<p>
		<a class="download-podcast" href="http://twitter.com/{{ author.twitter }}">Follow author @{{ author.twitter }}</a>
	</p>
</div>

<div class="section text">
	{% unless page.comments == "hidden" %}
		{% include modules/comments.html %}
	{% endunless %}
</div>
