<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} - Lost Decade Games</title>
	<meta name="description" content="{{ site.meta.description }}">
	<meta name="keywords" content="{{ site.meta.keywords }}">
	<link rel="alternate" type="application/atom+xml" title="ATOM Feed for Lost Decade Games" href="{{ site.blog_feed_url }}">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/media/css/combo.css">
	<link href='http://fonts.googleapis.com/css?family=Averia+Libre|Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	{{ content }}
	{% include analytics/ga.html %}
</body>
</html>
