<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} : Lost Decade Games</title>
	<meta name="description" content="Official website of Lost Decade Games, an independent game company in Silicon Valley, CA, focusing on HTML5 games.">
	<meta name="keywords" content="html5 games, javascript, chrome webstore, game dev, open source, blog, git, github, lost decade games, matt hackett, richtaur, geoff blair, gosub">
	<link rel="alternate" type="application/atom+xml" title="ATOM Feed for Lost Decade Games" href="/rss.xml">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="http://fonts.googleapis.com/css?family=Prociono|Open+Sans+Condensed:400,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet/less" type="text/css" href="/media/css/ldg.less">
	<script src="/media/js/less.js"></script>
</head>
<body>

	<div class="page">
		<div id="head">
			<a href="/">
				<img src="/media/images/logo.png" width="240" height="240">
			</a>
			<h1>
				<a href="/" class="title">Lost Decade Games</a>
			</h1>
			<em>HTML5 game studio in Mountain View, CA</em>

			<nav>
				<a href="/">Blog</a>
				<a href="/contact/">Contact Us</a>
				<a href="/support/">Support</a>

				<div>
					<a class="twitter" href="https://twitter.com/#!/lostdecadegames">Twitter</a>
					<a class="rss" href="/rss.xml">RSS</a>
				</div>
			</nav>
		</div>
		<div id="body">
			<div class="main">
				<div class="hd"></div>
				<div class="bd">
					{{ content }}
				</div>
				<div class="ft"></div>
			</div>
			<div class="aux">
				<p>
					<a href="http://play.lostdecadegames.com/onslaught_arena/demo">
						Play our first game!
					</a>
				</p>
				<a href="http://play.lostdecadegames.com/onslaught_arena/demo">
					<img
						alt="Onslaught!"
						src="/media/images/onslaught.png"
						width="128"
						height="128"
					>
				</a>
				<ul>
					<li>
						<a
							class="android"
							href="https://market.android.com/details?id=com.gameclosure.tealeaf"
						>Onslaught! for Android tablets</a>
					</li>
					<li>
						<a class="apple" href="http://itunes.apple.com/us/app/onslaught!/id441426241">Onslaught! for iPad</a>
					</li>
					<li>
						<a class="chrome" href="https://chrome.google.com/webstore/detail/khodnfbkbanejphecblcofbghjdgfaih">Onslaught! Arena for Chrome</a>
					</li>
				</ul>
				<p>
					<a href="/onslaught_arena/">Learn more</a>
				</p>
			</div>
		</div>
		<div id="foot">
			Lost Decade Games
			&copy; 2011
		</div>
	</div>

	{% include ga.html %}
	{% include gplus.html %}

</body>
</html>
