---
layout: base
---
<div id="hd">
	<h1>
		<a href="/">LDG</a>
	</h1>
	<ul id="nav">
		<li><a href="/about/">About</a></li>
		<li><a href="/lostcast/">Lostcast</a></li>
		<li><a href="http://forum.lostdecadegames.com/">Forum</a></li>
		<!--li><a class="focal-point" href="http://www.wizardslizard.com/">A Wizard's Lizard</a></li-->
		<li><a class="focal-point" href="http://store.steampowered.com/app/549740">Indie  Game Sim</a></li>
	</ul>
</div>

<ul id="social">
	<li><a class="youtube" href="http://www.youtube.com/LostDecadeGames" title="YouTube">YouTube</a></li>
	<!--li><a class="apple" href="http://itunes.apple.com/us/podcast/lostcast/id481950724" title="iTunes">iTunes</a></li-->
	<li><a class="twitter" href="https://twitter.com/LostDecadeGames" title="Twitter">Twitter</a></li>
	<li><a class="email" href="/mailing-list/" title="Mailing List">Mailing List</a></li>
	<li><a class="rss" href="/rss.xml" title="RSS">RSS</a></li>
</ul>

{{ content }}

<div id="ft">
	<p>
		LDG © 2016
		• <a href="/blog/">Blog</a>
		• <a href="/about/tos/">Terms of Service</a>
		• <a href="/about/video-policy/">Video Policy</a>
	</p>
</div>
