---
layout: base
---
<div id="hd">
	<h1>
		<a href="/">Lost Decade Games</a>
	</h1>
	<ul>
		<li><a href="/about/">About</a></li>
		<li><a href="/lostcast/">Lostcast</a></li>
		<li><a href="http://forum.lostdecadegames.com/">Forum</a></li>
		<li><a class="focal-point" href="http://www.wizardslizard.com/">A Wizard's Lizard</a></li>
	</ul>
</div>

{{ content }}

<div id="ft">
	<p>
		Lost Decade Games, LLC © 2014
		• <a href="/about/tos/">Terms of Service</a>
		• <a href="/about/video-policy/">Video Policy</a>
	</p>
</div>
