---
layout: default
---
<section class="post">
	<h1>{{ page.title }}</h1>
	<div class="info">
		<img
			class="avatar"
			src="http://www.gravatar.com/avatar/{{ page.post_gravatar }}?s=40"
			width="40"
			height="40"
		>
		<span class="author">Posted by {{ page.post_author }}</span>
		<span class="date">{{ page.post_date | date_to_string }}</span>
	</div>
	<div>{{ content }}</div>

	<div class="share">
		<g:plusone size="tall"></g:plusone>
		<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<!--
		<script type="text/javascript" src="http://www.reddit.com/static/button/button2.js"></script>
		-->
	</div>
</section>
