---
layout: default
---
{% assign author = site.authors[page.author] %}
<article class="post">
	<header>
		<h1 class="title">{{ page.title }}</h1>
		<aside class="meta">
			<a
				class="twitter"
				href="https://twitter.com/#!/{{ author.twitter }}"
				title="Follow {{ page.author | capitalize }} on Twitter"
			>Twitter</a>
			<a
				class="github"
				href="https://github.com/{{ author.github }}"
				title="Follow {{ page.author | capitalize }}'s code on GitHub"
			>GitHub</a>
			<img
				class="avatar"
				href="{{ author.display_name }}"
				src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40"
				width="40"
				height="40"
			>
			<span class="author">Posted by <strong>{{ author.display_name }}</strong></span>
			<span class="date">{{ page.date | date_to_long_string }}</span>
		</aside>
	</header>
	<div class="content">
		{{ content }}

		<h2>Related articles</h2>
		<ul>
			{% for post in site.related_posts %}
				{% if forloop.index < 4 %}
				<li>
					<a class="title" href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<footer>
		<section class="comments">
			<h2>Comments</h2>
			{% include html/disqus.html %}
		</section>
		<aside>
			{% include html/share.html %}
		</aside>
	</footer>
</article>
