---
layout: default
---
<section class="post">
	<h1>{{ page.title }}</h1>
	<div>
		<img src="http://www.gravatar.com/avatar/{{ page.post_gravatar }}?s=40" width="40" height="40">
		{{ page.post_author }}
	</div>
	<div>{{ page.post_date | date_to_string }}</div>
	<div>{{ content }}</div>

	<!-- Social media -->
	<g:plusone size="tall"></g:plusone>
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<!--
	<script type="text/javascript" src="http://www.reddit.com/static/button/button2.js"></script>
	-->
</section>
