<div class="module">
	<h2>Follow Us</h2>
	<ul>
		<li><a href="https://twitter.com/lostdecadegames" title="Lost Decade Games on Twitter">Twitter</a></li>
		<li><a href="http://www.facebook.com/pages/Lost-Decade-Games/139862159378069" title="Lost Decade Games on Twitter">Facebook</a></li>
		<li><a href="{{ site.blog_feed_url }}" title="Lost Decade Games Blog RSS feed">Blog RSS</a></li>
		<li><a href="{{ site.lostcast_itunes_url }}">Lostcast iTunes</a></li>
		<li><a href="https://github.com/lostdecade" title="Lost Decade Games on GitHub">GitHub</a></li>
	</ul>
</div>
