<div class="module">
	<h2>Join Us!</h2>
	<ul>
		<li><a href="https://twitter.com/LostDecadeGames" title="Lost Decade Games on Twitter">Twitter</a></li>
		<li><a href="http://www.youtube.com/LostDecadeGames" title="Lost Decade Games on YouTube">YouTube</a></li>
		<li><a href="{{ site.lostcast_itunes_url }}">iTunes</a></li>
		<li><a href="{{ site.blog_feed_url }}" title="Lost Decade Games Blog RSS feed">RSS</a></li>
		<li><a href="https://www.facebook.com/LostDecadeGames" title="Lost Decade Games on Facebook">Facebook</a></li>
		<li><a href="http://lostdecadegames.tumblr.com/" title="Lost Decade Games on Tumblr">Tumblr</a></li>
		<li><a href="https://github.com/lostdecade" title="Lost Decade Games on GitHub">GitHub</a></li>
		<li><a href="http://www.twitch.tv/LostDecadeGames" title="Lost Decade Games on Twitch">Twitch</a></li>
	</ul>
</div>
